html,
body {
    height: 100%;
    margin: 0;
}

div.bg-pic-home {
    background-image: url(./images/child-couple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

div.bg-pic-survey {
    background-image: url(./images/night-life.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.form-control{
	width: 30%;
    margin-left: 36%;
    margin-top: 10px;
    padding: 0; 
    font-size: 14px;
    font-family: 'Arima Madurai', cursive;
    color: #555;
    background-color: #fff;
    border: 1px solid #5c97bb;
    border-radius: 14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgb(92, 151, 187);
    padding-left: 10px;
}
select{
    text-align-last: center;

}
.inputName{
	width: 56%;
    margin: auto;
    text-align: center;
	padding-top: 3px;
	font-size: 20px;
}
#userInterest{
	margin-bottom: 20px;
}


.layer {
    background: -webkit-linear-gradient(bottom left, rgba(167, 66, 108, 0.8), rgba(110, 179, 166, 0.7) 100%);
    background: -o-linear-gradient(bottom left, rgba(167, 66, 108, 0.8), rgba(110, 179, 166, 0.7)100%);
    background: linear-gradient(to top right, rgba(167, 66, 108, 0.8), rgba(110, 179, 166, 0.7) 100%);
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
}

.layer-survey {
    background: -webkit-linear-gradient(bottom left, rgba(167, 66, 108, 0.9), rgba(110, 179, 166, 0.8) 100%);
    background: -o-linear-gradient(bottom left, rgba(167, 66, 108, 0.9), rgba(110, 179, 166, 0.8)100%);
    background: linear-gradient(to top right, rgba(167, 66, 108, 0.9), rgba(110, 179, 166, 0.8) 100%);
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
}



.question {
    font-size: 23px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    color: #f5d4af;

}

label {
    font-weight: 100;
}

.survey-container {
    margin-left: 70px;
}
.modal{
	z-index: 0;
}

.modal-img {
    width: 100%;
}

.modal-header {
    border-bottom: 0px;
    text-align: center;
}
.modal-content{
	background-color: #191515;
}
.modal-backdrop{
	z-index: 0;
}
.modal-footer{
	text-align: center;
    border-top: 0px solid #e5e5e5;
}
.close{
	color: #fdfdfd;
	opacity: .5;
}

h1 {
    font-family: 'Kanit', sans-serif;
    color: lightyellow;
}

h2 {
    font-family: 'Arima Madurai', cursive;
    color: lightyellow;
}

h4 {
    color: lightyellow;
    font-family: 'Dosis', sans-serif;
    letter-spacing: .5px;
    font-size: 20px;
}

#survey-header {
    font-family: 'Arima Madurai', cursive;
    color: lightyellow;
    font-size: 45px;
}

.form {
    color: black;
}

.form p {
}

.modal-body {
    padding: 0px 15px;
}



#home-header {
    margin-top: 250px;
    color: lightyellow;
    font-size: 50px;
    text-align: center;
}

#submit {
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    background: #5c97bb;
    border-radius: 15px;
    width: 40%;
    margin-top: 31px;
}

@media only screen and (max-width: 375px) {
    #home-header {
        margin-top: 130px;
    }
    #heart-text {
        margin-bottom: 31px;
    }
    .radio {
        margin-top: -6px;
        float: left;
        padding-left: 26px;
    }
    .survey-container {
        margin-left: 0px;
    }
    #submit {
        width: 55%;
    }
    .inputName{
	    padding-left: 1%;
    }
    .form-control{
    width: 37%;
    margin-left: 33%;
    }
    select#userInterest {
    width: 40%;
    margin-left: 31%;
	}
	input#userName {
    width: 55%;
    margin-left: 23%;
	}
}

@media only screen and (min-width: 768px) {
    #input {
        margin: 10px;
    }
}

#heart {
    display: block;
    margin: 0 auto;
    margin-top: 41px;
}

.heart {
    /*	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;*/
    /*-webkit-animation-iteration-count: 4;*/
}


.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    color: white;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

#heart-text {
    display: none;
}